.dashboard-title {
    color: #fff;
    text-align: center;
    margin-top: 50px; /* space between top of page and title */
    margin-bottom: 40px; /* space between title and chart container */
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap; /* allow containers to wrap */
    justify-content: center;
    gap: 20px; /* space between containers */
}

.chart-and-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.chart-container {
    background-color: #17193bad;
    border-radius: 10px; /* rounds corners of container */
    /* box shadow around container for contrast */
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.81);
    display: flex;
    justify-content: center;
    padding: 20px; /* add padding around chart */
    margin: 2%; /* responsive margin */
    max-width: 600px; /* maximum width for wide screens */
    max-height: 400px; /* maximum height for wide screens */
}

.summary-container {
    background-color: #17193bad;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.81);
    padding: 20px;
    margin: 2% auto; /* Center the container */
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column; /* Ensure column direction for text */
    overflow: hidden; /* Prevent overflow at the top */
    height: 400px; /* Fixed height same as chart-container */
}

.summary-content {
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    max-height: 100%; /* Allow it to take up all available height */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words */
    flex: 1; /* Allow content to take up remaining space */
    margin-top: 0; /* Ensure content starts at the top */
}

.summary-title {
    font-size: 1.5em; /* larger font size for title */
    margin-bottom: 10px; /* space between title and content */
}

/* Additional text-specific styles */
.summary-content p {
    color: #fff;
    line-height: 1.5; /* Adjust line height for better readability */
    margin-bottom: 10px; /* Space between paragraphs */
}

@media (min-width: 1180px) {
    .summary-container {
        min-width: 600px;
        transition: min-width 0.3s ease-in-out;
    }
}

@media (max-width: 1185px) {
    .summary-container {
        min-width: 400px;
        transition: min-width 0.3s ease-in-out;
    }
}

.congress-type, .summary-title {
    margin-bottom: 20px; /* Adjust as needed */
    font-size: 1.5em; /* larger font size for title */
    margin-bottom: 10px; /* space between title and content */
}

.congress-type {
    margin-bottom: 20px;
}

.summary-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: to center text within the container */
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0px 0px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #0056b3;
}